---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Process from "../components/Process.astro";
import Work from "../components/Work.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Services />
    <Process />
    <Work />
    <FinalCTA />
  </main>
  <Footer />
</Base>
